.div
  width 100%
  height 100%
  header
    position fixed
    z-index 9
    top 0px
    left 0px
    width 100%
    height 60px
    padding 5px 10px
    background #fff
    .header_input
      position relative
      img
        width 65px
        height 20px
        margin-top 3px
        margin-right 10px
      i
        position absolute
        top 10px
        left 110px
        margin-right 5px
      input
        width 60%
        height 30px
        padding-left 40px
        background #ededed
        border-radius 4px
        font-size 12px

    ul
      background: #fff
      width 800px
      margin-top 15px
      white-space: nowrap
      padding-left 10px
      li
        height 20px
        float left
        margin-right 30px
        & > span
          font-size 15px
          font-weight bold
        &.on
          color #b4282d
          border-bottom 2px solid #b4282d

  .viewport
    width 100%
    height 100%
    .content
      padding-bottom 150px
      width 100%
      .straight
        width 100%
        background: #fff
        .straight_title
          margin-top 25px
          margin-bottom 10px
          .straight_conent
            margin 10px
            width 100%
            span
              display block
              line-height 30px
            li
              margin-right 10px
              margin-bottom 70px
              float left
              width 46%
              height 205px
              background: #eee
              img
                margin-top 20px
                width 90%
                height 80%
              .straight_conent_info
                width 100%
                height 30px
                line-height 30px
                text-align center
                color #9f8a60
                background #f1ece2
                font-size 14px
              .straight_conent_text
                margin 5px 0px
                div
                  width 100%
                  font-size 14px
                  margin-top 10px
                  &.many
                    margin-left -40px
                    color #b4282d
                    font-size 14px
              .grey
                width: 375px
                height: 10px
                margin-top 20px
                background: #f3f5f7
      .security
        width 100%
        padding-top 10px
        padding-left 20px
        padding-right 20px
        height 30px
        background: white
        .security_li
          float left
          margin-right 25px
          img
            width 15px
            height 15px
          span
            font-size 10px

      .straight
        width 100%
        background: #fff
        .straight_title
          margin-top 25px
          margin-bottom 10px
        .straight_conent
          margin 10px
          width 100%
          li
            margin 3px
            float left
            width 46.5%
            height 125px
            background: #eee
            .straight_conent_text
              float left
              margin-top 10px
              margin-left 6px
            img
              margin-top -30px
              width 90%
              height 90%
      .welfare
        img
          width 100%
          height 200px

      .foot
        padding 10px
        width 100%
        background: #000;
        .foot-content
          span
            color white
            padding 5px 5px
            border 1px solid white
            display inline-block
            margin-right 20px
            margin-bottom 10px
          .foot-content-text1
            color #ccc
            margin-bottom 10px
            font-size 13px


  .maoD
    position fixed
    bottom 55px
    right 10px
    z-index 20
    div
      width 50px
      height 50px
      line-height 50px
      text-align center
      border-radius 50%
      background: #fff
      .iconfont
        color #aaa
        font-size 35px
