.swiper-container
  margin-top 75px
  width 100%
  height 100%
  .swiper-wrapper
    width 2000px !important
    height 200px
    .swiper-slide
      width 375px
      a
        float left
        display block
        width 375px
        height  200px
      img
        float left
        width 375px
        height 200px




