.swiper-container
  margin-top 40px
  width 100%
  height 100%
  .swiper-wrapper
    width 100%
    height 200px
    .swiper-slide
      a
        display block
        height  200px
      img
        width 100%
        height 100%

      .opcit
        position absolute
        top 40px
        left 80px
        z-index 20
        width 240px
        height 100px
        opacity 0.8
        color #000
        background: #fff
        .opcit1
          font-size 12px
          margin-top 10px
        .opcit2
          margin-top 15px
          font-size 16px
          font-weight bold
        .opcit3
          margin-top 15px
          font-size 13px

